<div class="dx-fieldset">
  <div class="dx-field">
    <div id="dateRangeBox" class="PostingDate">
      <dx-date-range-box
        [min]="minDate"
        [startDate]="startDate"
        [endDate]="endDate"
        startDateLabel="Posting Date Start"
        endDateLabel="End"
        [(value)]="currentValue"
        (onValueChanged)="onCurrentValueChanged($event)"
        >
      </dx-date-range-box>
      <div>
        <button (click)="FetchInvoices()">Apply filters</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="spinner">
  Loading... Please wait
</div>
<div *ngIf="!loading">
  <div #gridWrapper class="grid-wrapper">
  </div>
</div>

